<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="container-of-page-of-payment">
        <div class="top-part-in-payment">

        </div>
        <div id="show-guests-in-payment">
            <div id="part-of-select-in-show-guests-in-payment">
                <div id="first-part-in-part-of-select-in-show-guests-in-payment">

                </div>
                <div id="second-part-in-part-of-select-in-show-guests-in-payment">
                    <div id="first-part-in-second-part-in-part-of-select-in-show-guests-in-payment">

                    </div>
                    <div id="part-of-date-in-second-part-in-part-of-select-in-show-guests-in-payment">

                    </div>
                    <div id="button-of-submit-date-in-second-part-in-part-of-select-in-show-guests-in-payment">
                        
                    </div>
                </div>
                <div id="third-part-in-part-of-select-in-show-guests-in-payment">

                </div>
            </div>
            <div id="part-of-show-information-of-guests-in-payment">
                <div id="part-of-show-information-of-guests-in-payment-card-paid">
                    <!-- filling bu Js -->
                </div>
                <div id="information-of-selected-guest-in-card-payment" style="display: none;">
                    <!-- filling by Js -->
                </div>
                <div id="part-of-show-information-of-guests-in-payment-cash-paid">
                    <!-- filling bu Js -->
                </div>
                <div id="information-of-selected-guest-in-cash-payment" style="display: none;">
                    <!-- filling by js -->
                </div>
            </div>
        </div>
        <div class="bottom-part-in-payment">

        </div>
    </div>

</body>
<script src="../../Data/data.js"></script>
<script src="PaymentProcess.js"></script>
<script src="controller.js"></script>

</html>