<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- <div class="main_login_page">
    <div id="container_of_login_form">
        <div id="part-of-submit-login">
          <div id="logo-part-in-main-login-page">
            <div id="container-of-logo-in-logo-part-in-main-login-page">
                
            </div>
          </div>
          <div id="inputs-part-in-main-login-page">

          </div>
        </div>
        <div id="part-of-login-type-in-main-login-page">

        </div>
    </div>
   </div>  -->
  <div class="main-login-page">
    <div class="container-of-login-page">
      <div class="login-container">
        <div class="login-form">
          <h2>Welcome to UTech<br>Sign into your account</h2>
          <form>
            <input type="text" id="accountInput" placeholder="Select an account" onclick="showAllAccounts()" readonly>
            <div id="dropdown" class="dropdown-content">
              <!--  -->
            </div>
            <input type="password" placeholder="Password" required>
            <input type="submit" value="Log In">
          </form>
          <div class="forgot-password">
            <a href="#">Forgot password?</a>
          </div>
        </div>
        <div class="illustration">
          <img src="../../View/src/images/logo.jpg" alt="Illustration">
        </div>
      </div>
    </div>
  </div>
  <script src="controller.js"></script>
</body>

</html>