body {
    /* font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}
.PAGE-OF-MODIFY-ACC-CONTAINER {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
}
.PAGE-OF-MODIFY-ACC-CONTAINER h2 {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
    color: #333;
}
.MODIFY-ACC-FORM-GROUP {
    margin-bottom: 15px;
}
.MODIFY-ACC-FORM-GROUP label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}
.MODIFY-ACC-FORM-GROUP input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.MODIFY-ACC-FORM-GROUP input:focus {
    border-color: #007bff;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #0056b3;
}