<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="container-of-home-page-of-calendar">
        <div id="top-part-in-calendar">

        </div>
        <div id="part-of-days-and-type-in-calendar">
            <div id="part-of-selection-type-in-calendar">
              <div id="part-of-selection-type-of-room-in-calendar">

              </div>
              <div id="part-of-current-month-in-calendar">
                
              </div>
            </div>
            <div id="part-of-current-days-in-calendar">
                <!-- filling by Js -->
            </div>
        </div>
        <div id="room-display-grid-in-calendar">
            <!-- filling by Js -->
        </div>
        <div id="bottom-part-in-calendar">

        </div>
    </div>
</body>
<script src="../../Data/Resident.js"></script>
<script src="../../../Data/data.js"></script>
<script src="controller.js"></script>

</html>