#type-of-search {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    height: 80px;
    width: 950px;
    border-bottom: 1px solid black;
}

.componant-in-part-of-period {
    /* border: 1px solid black;
    align-items: center;
    justify-content: center; */
}
.part-of-period {
    /* display: flex;
    align-items: center;
    width: 20%; */
}
.part-of-period p {
    /* margin: 0;
    padding-right: 10px; */
}
.part-of-period input[type="date"] {
    /* width: 120px;
    margin-bottom: 90px; */
}

#show-current-residents {
    border: 1px  rgb(32, 162, 160);
    scrollbar-width: none;
    overflow-y: scroll;
    height: 490px;
    width: 950px;
    overflow-x: hidden; 
}
.current-resident-container {
     position: sticky;
    top: 0;
    background-color: white;
    z-index: 999; 
}

.scrollable-content {
     scrollbar-width: none;
    overflow-y: scroll;
    height: 490px;
    width: 950px;
    border-radius: 20px; 
}


.current-resident {
     width: 100%;
    height: 55px;
    border-radius: 35px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

.part-of-name-resident h2 {
     text-align: center;
    color: black; 
}

.part-of-name-resident {
     border: 1px black solid;
    height: 55px;
    width: 140px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center; 
}

.part-of-room,
.part-of-contdown,
.part-of-gender-in-clock,
.part-of-country-in-clock {
    border-radius:0%;
     border: 1px black solid;
    height: 55px;
    width: calc(100% / 7 - 2px); /* Adjusted width to fit within the container */
    display: flex;
    align-items: center;
    justify-content: center; 
}

.part-of-room h2,
.part-of-contdown h2,
.part-of-gender-in-clock h2,
.part-of-country-in-clock h2 {
    text-align: center;
    color: black;
    margin: 0;
}

.part-of-date input,
.part-of-country select {
     width: 100px;/***/
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

#type-of-search button {
    border-radius: 10%;
    height: 35px;
     width: 54px;
    background-color: rgb(251, 225, 117);
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 18px;
    margin-left: -10px;
   
}

#type-of-search button:hover {
    background-color: rgb(216, 243, 249);
}


#searchContainer {
  width: 200px;
background-color: rgb(32, 162, 160);
}

#searchName {
    width: 150px;
}
.tooltip {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

#suggestions {
    display: block;
    width: 130px;
    margin-top: -22px;
    background-color: #bcb9b9;
    /* border: 1px solid #ccc; */
    list-style-type: none;
    border: 1px solid #bcb9b9;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.part-of-country {
   
    background-color: rgb(32, 162, 160);
    width: 100px;
}

.part-of-country select {
    width: 100px;
}

.first-componant {
    display: flex;
    border: 1px solid rgb(32, 162, 160);
    background-color: rgb(32, 162, 160);
}

.first-componant input[type = 'date'] {
 width: 100px;
}


