.page-of-archives {
    height: 570px;
    width: 950px;
    border-radius: 20px;
    scrollbar-width: none;
    overflow: scroll;
}

.event-in-archive {
    border: 1px solid black;
    border-radius: 20px;
    height: 60px;
    width: 940px;
    display: flex;
    margin: 5px;
}