<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container-of-reserve-page-in-calendar">
        <!-- filling by controller -->
    </div>
</body>
<script src="../../../Constants/variables.js"></script>
<script src="../../../Constants/listOfCountries.js"></script>

    <script src="controller.js"></script>
</html>
